<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Poppins", sans-serif;
        margin: 0;
        background-color: #cccccc;
      }
      table {
        border-spacing: 0px;
      }

      .wrapper {
        width: 100%;
        table-layout: fixed;
        background-color: #cccccc;
      }
      .main {
        background-color: #ffffff;
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
        color: black;
      }
      .redeem {
        padding: 1rem;
        margin-top: 2.5rem;
        font-size: 35px;
        color: #ffffff;
      }
      .amount {
        margin-top: 1rem;
        font-size: 75px;
      }
      .successfull {
        color: #a3da8d;
        font-size: 25px;
      }
      .button-link {
        text-decoration: none;
        background-color: #a3da8d;
        padding: 1rem;
        color: #414141;
        border-radius: 10px;
        font-family: inherit;
        font-weight: 600;
      }
      .button-link:hover {
        background-color: #94c780;
      }
      .verify-button {
        margin: 2rem 30% 0 30%;
        text-decoration: none;
        background-color: #a3da8d;
        padding: 1rem;
        color: #414141 !important;
        border-radius: 10px;
        font-family: inherit;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        cursor: pointer;
      }

      @media screen and (max-width: 380px) {
        .successfull {
          margin-top: 1rem;
          font-size: 16px;
        }
      }
    </style>
    <title>Email Verification</title>
  </head>
  <body>
    <center class="wrapper">
      <table class="main">
        <tr>
          <td
            height="330"
            style="text-align: center; background-color: #414141"
          >
            <h1 style="color: #ffffff; font-size: 3rem">
              Verify your email!<br />
              <p style="font-size: 1.5rem; margin-top: 1rem">
                Click the button below.
              </p>
            </h1>
            <a
              href="<%= serverUrl %>/auth/verify/<%= verificationToken %>"
              style="text-decoration: none"
            >
              <div class="verify-button">Verify</div>
            </a>
          </td>
        </tr>
        <tr>
          <td height="10" style="background-color: #a3da8d"></td>
        </tr>
        <tr>
          <td height="250" style="text-align: center">
            <p style="margin-top: 125px; font-weight: 600; color: #414141">
              Project BEAMS 2022.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <img
              src="<%= serverUrl %>/images/BG.png"
              alt="Background-image"
              width="600"
              style="max-width: 100%"
            />
          </td>
        </tr>
      </table>
    </center>
  </body>
</html>
